<html>

<head>
    <title>websites</title>
</head>

<body>
    <h2>this is for taking information of Reciever</h2>
    <p></p>
    <form action="{{ url_for('email') }}" method="post">

        


        <label for="">recievers_email :</label>
        <input type="text" name="recievers_email"><br><br>

        <label for="">Subject :</label>
        <input type="text" name="Subject"><br><br>

        <label for="">Message :</label>
        <input type="text" name="Message"><br><br>

        <button type="submit">SUBMIT</button>


    </form>

</body>

</html>